
body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}
header{
    background: linear-gradient(90deg, #0b3e27, #197149);
    display: flex;
    height: fit-content;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 30px 120px;
    font-size: 15px;
    font-weight: 600;
    position: static;
    top: 0;
}
section{
    background-color: white;
}
.menu-icon{
    color: white;
    align-items: center;
    display: flex;
    width:35%;
}
.menu-icon line{
    fill: none;
    stroke: currentColor;
   
}
.header-btn-btn i{
    margin-right: 10px;
}
.header img{
    width: 50px;
    display: block;
    height: 50px;
   

}
.header-btn-btn{
    display: flex;
}
.header-btn button{
    border: none;
    background:none;
    color: white;
    font-weight: 600;
    margin-left: 40px;
    font-size: 15px;
    cursor: pointer;
}
.header-btn button:hover{
    color: #afd9c6;
}
.section1-vedio video{
    width: 100%;
    object-fit: cover;
    height: 75vh;
}
.vedio-container{
    position: relative;
}
.text-overlay{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
.text-overlay p{
    letter-spacing: 3px;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
}
.text-overlay h1{
    font-size: 5rem;
    margin: 0;
}
.vedio-container a{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-49%, -50%);
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}
.vedio-container a:hover{
    color: #b1b7b4;
    
}
/* desc section */
.desc-container{
    width: 82vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 0;
    
    
}
.desc-container h2{
    flex: 1;
    font-size: 48px;
    color: #197149;
    margin: 0;
    padding-top: 5px;
}
.desc-container P{
    font-size: 20px;
    line-height: 1.6;
    font-weight: 300;
    color: rgb(71, 70, 70);
}
.desc{
    flex: 1;
}
.desc a{
    color: #197149;
    text-decoration: none;
    font-weight: 600;
}

/* navigation bar */
nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 22px 100px;
   position: sticky;
   top: -1px;
   background-color: white;
   z-index: 1;
}
  
  .nav-container {
    display: flex;
    flex: 1;
    justify-content: center;
    font-weight: 600;
    margin-left: 100px;
  }
  .nav-container label span{
    height: 0.5rem;
    border-radius: 50%;
    width: 0.5rem;
    background-color: #197149;
    display: block;
    margin-left: 5px;
  }
  label {
    margin: 0 20px;
  }
  
  .nav-button {
    padding: 10px 20px;
    background: linear-gradient(45deg, rgb( 16 99 61 ), rgb( 26 145 90 ));
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 50px;
    padding: 8px 30px;

  }
  
  .nav-button:hover {
    background-color: #0b3e27;
  }

  /* section picture  */
  .img-section{
    color: white;
    height: 86vh;
  
  }
  .img-section-black{
    color: black;
  }
  .img-section img{
    width: 100%;
  }
  .img-section-desc{
    position: relative;
    bottom: 250px;
    left: 120px;
    max-width: 37%;
  }

.img-section-desc h2{
    font-size:3.125rem ;
    margin: 0 0 10px 0;
}
.img-section-desc div{
    font-size: 1.875rem;
    margin: 0 0 10px 0;
}
.img-section-desc a{
    color: inherit;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    font-size: 16px;
}
.img-section-desc path{
    fill: white;
}
/* media-link */

.media-link ol{
    font-size: 0.875rem;
    list-style-type: none;
    display: flex;
    padding-left: 0;
}
.media-link  .home:hover{
    color: #197149;
}
.container{
    padding: 50px 120px;
}
.social-media{
    font-size: 0.875rem;
    font-weight: 600;
    display: flex;

    align-items: center;
}
.social-media svg{
    margin-left: 20px;
    fill: #0b3e27;
}
.social-media path{
    fill: #0b3e27;
}

/* footer */
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 50px 120px;
    background-color: white;
}
.footer-item a{
    cursor: pointer;
}
.footer-item{
    display: flex;
    flex-direction: column;
    
}
.footer-link{
    font-size:1rem;
    cursor: pointer;
    line-height: 30px;
}
.footer-item a:hover{
    color: #197149;
}
.footer-link-subheading{
    font-size: 1rem;
     margin-top: 10px;
     font-weight: 600;
}
.footer-link-heading{
    font-size: 25px;
    margin-top: 15px;
    font-weight: 600;
}
.footer-item svg{
    margin-right: 10px;
}
.footer-2{
    background-color: white;
    padding: 50px 120px 0 120px;
    overflow: hidden;
}
.footer-2 hr{
    border-top: 2px solid rgb(182, 181, 181);
}
.footer-2 button{
    border: none;
    background:none;
    margin: 15px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1rem;
    line-height: 50px;
}
.footer-2 :hover{
    color: #197149;
    fill: #197149;

}
.footer-image{
    position: sticky;
    top: 0;
    bottom: 0;
    z-index: -1;
    height: 360px;
    overflow: hidden;
}
.footer-image img{
    width: 100%;
}
.footer-image-desc{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 25%;
    color: white;
    cursor: pointer;
}
.footer-image-desc a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: 600;
    fill: white;
    display: inline-flex;
    align-items: center;
}
.footer-image-desc a:hover{
    color: gray;
}
.footer-image-desc p{
    font-size: 2.65rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.footer-image-desc svg{
    margin-left: 5px;
}
